/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */


/*
 * Body
 */
body {
  margin: 0;
  padding: 0;
  
  color: #000000;
  font-family: Arial,"Lucida Grande",Helvetica,sans-serif;
  line-height: 1.5em;
    
  font-size: 0.75em;
}

#page-wrapper {
}

#page {
	
	font-size: 100%;
	line-height: 1.5em;

}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */
#skip-link a,
#skip-link a:visited {
  display: block;
  width: 100%;
  padding: 2px 0 3px 0;
  text-align: center;
  background-color: #666;
  color: #fff;
}

/*
 * Header
 */
#header {
	height: 136px;
	background: transparent url(../images/header-bg.png) repeat-x scroll 0 0;
	background-position: left bottom;
}

#header .section {
}

#logo /* Wrapping link for logo */ {
  float: left; /* LTR */
  margin: 0;
  padding: 0;
}

#logo img {
  vertical-align: bottom;
}

#name-and-slogan /* Wrapper for website name and slogan */ {
  float: left;
}

h1#site-name,
div#site-name /* The name of the website */ {
  margin: 0;
  font-size: 2em;
  line-height: 1.5em;
}

#site-name a:link,
#site-name a:visited {
  color: #000;
  text-decoration: none;
}

#site-name a:hover,
#site-name a:focus {
  text-decoration: underline;
}

#site-slogan /* The slogan (or tagline) of a website */ {
}

.region-header /* Wrapper for any blocks placed in the header region */ {
  clear: both; /* Clear the logo */
}

/*
 * Main (container for everything else)
 */
#main-wrapper {
	
    margin-left: auto;
    margin-right: auto;
    padding: 6px 10px 0;

    position: relative;
}
}

#main {
}

/*
 * Content
 */
#content {
}

#content .section {
}

.region-highlighted {
}

.breadcrumb /* The path to the current page in the form of a list of links */ {
  padding-bottom: 0; /* Undo system.css */
}

h1.title, /* The title of the page */
h2.node-title, /* Title of a piece of content when it is given in a list of content */
h2.block-title, /* Block title */
h2.title, /* Comment section heading */
h2.comment-form, /* Comment form heading */
h3.title /* Comment title */ {
  margin: 0;
}

tr.even /* Some tables have rows marked even or odd. */ {
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

tr.odd {
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

div.messages /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */ {
  margin: 1.5em 0; /* Drupal core uses "6px 0" margin */
}

div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

div.status /* Normal priority messages */ {
}

div.warning,
tr.warning /* Medium priority messages */ {
  /* border: 1px solid #f0c020; */ /* Drupal core uses: 1px solid #f0c020 */
}

div.error,
tr.error /* High priority messages. See also the .error declaration below. */ {
}

.error /* Errors that are separate from div.messages status messages. */ {
  /* color: #e55; */ /* Drupal core uses a #e55 background */
}

.warning /* Warnings that are separate from div.messages status messages. */ {
  /* color: #e09010; */ /* Drupal core uses a #e09010 background */
}

div.tabs /* See also the tabs.css file. */ {
}

.region-help /* Help text on a page */ {
}

.more-help-link /* Link to more help */ {
}

.region-content /* Wrapper for the actual page content */ {
}

ul.links /* List of links */ {
}

ul.links.inline {
  display: block; /* Let the links be inline, but the container be a block. */
}

ul.links li {
  padding: 0 1em 0 0; /* LTR */
}

.item-list .pager /* A list of page numbers when more than 1 page of content is available */ {
  padding: 0;
}

.item-list .pager li /* Each page number in the pager list */ {
  padding: 0 0.5em;
}

.feed-icon /* The link to the RSS or Atom feed for the current list of content */ {
}

.more-link /* Aggregator, blog, and forum more link */ {
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */
.region-sidebar-first {
}

.region-sidebar-first .section {
}

/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */
.region-sidebar-second {
}

.region-sidebar-second .section {
}

/*
 * Footer
 */
.region-footer {
	clear: left;
	color: #666;
	font-size: 0.916667em;
	text-align: center;
	border-top: 1px solid #E2E2DF;
	margin-top: 50px;
	padding-top: 10px;
	margin-bottom: 40px;
}

/*
 * Page bottom
 */
.region-bottom /* Wrapper for any blocks placed in the page bottom region */ {
}

div.mission-left {
    margin-top: 10px;
    padding: 4px;
    width: 390px;
}

div.mission-left a {
    color: #B63300;
    float: left;
    font-weight: bold;
    padding-right: 10px;
    width: 120px;
}


.frontpage-wrapper {
    background-color: #E2E2E2;
    background-position: 100% bottom;
}




h2 {
    border-bottom: 0 solid #BFBFBA;
    color: #000000;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 19px;
    font-weight: normal;
    line-height: 1;
    padding-bottom: 6px;
    margin: 0;
    
}

h1.title, h2.title, h3.title {
    margin: 0;
}


h2.node-title, h2.block-title, h2.comment-form {
    margin: 0;
}




img {
    border: 0 none;
}


/*#primary ul {
    color: #FFFFFF;
    margin-top: 0;
    padding: 7px 0 6px;
    text-align: center;
}*/
#admin-menu{
	
	font: 12px/170% Verdana, sans-serif; /* same as body tag */
	color: #494949; /* same as body tag */
	position:fixed;
}


#footer {
	background-color: #F6F6F2;
	font-family: inherit;
	font-style: inherit;
	font-weight: inherit;
	font-size: 100%;
	padding: 30px 20px;
	margin-top: 80px;
	
}

.footer_cols {
	margin: 0 215px;
	min-width: 500px;
}

.footer_cols h2 {
	font-size: 11px;
	font-weight: bold;
	border: 0;
}


.footer_col1, .footer_col2, .footer_col3, .footer_col4, .footer_col5 {
	float: left;
	width: 18%;
	padding-right: 10px;
}




#mission {
	/*overflow: auto;*/
	background: #0779BF url("../images/header-bg.png") repeat-x;
	background-position: left bottom;
	color: white;
	padding: 15px 20px 15px 20px;
	margin-bottom: 10px;
	border: 1px solid #044771;
	font-weight: bold;
    
}

#mission a {
	font-weight: bold;
	color: white;
	text-decoration: underline;
}
div.mission-left {
	margin-top: 10px;
	padding: 4px;
	width: 390px;
}
div.mission-left a {
	color: #B63300;
	float: left;
	font-weight: bold;
	padding-right: 10px;
	width: 120px;
}
a, a:link, a:visited, a:active {
	color: #0C488A;
	text-decoration: none;
}

/*element.style {
    background-color: #E7F2D8;
    border: 1px solid #7CA327;
}*/